@{
    ViewBag.Title = "Transaction";
}

@section Styles {

}



<div class="wraper container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Transaction
                </div>

                @Html.Widget(WidgetZone.TransactionOverview)

            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/gridmvc.min.js"></script>
}
