@model RouteValueDictionary

@section Styles {
    
}

@{
    ViewBag.Title = "Configure Widget";
}

<div class="wraper container-fluid">
    @Html.Action(Model["action"].ToString(), Model["controller"].ToString(), Model)    
</div>

@section Scripts {

}

