@{
    ViewBag.Title = "[[[Payment Settings]]]";
}

<div class="body-content container-fluid">
    <div class="main-section row">
        <div class="container-fluid mrg-tb">

            @Html.Partial("_DashBoardSide", "payment")

            <div class=" col-md-9">
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane card-content fade active in" id="listings" aria-labelledby="listings-tab">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                [[[Payment Settings]]]
                            </div>
                            <div class="panel-body">
                                <h4>
                                    <i class="fa fa-gears"></i> [[[Payment Settings]]]
                                </h4>
                                <hr />
                                <h5>
                                    [[[Payout information]]]
                                </h5>

                                @Html.DoAction(HookName.PaymentSetting)
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}