@{
    ViewBag.Title = "[[[Forgot Password Confirmation]]]";
}
	
<div class="main-section">
    <div class="container-fluid">
        <div class=" center-block col-md-6">
            <div class="panel panel-default mrg-t">
                <div class="panel-body bdr-b panel-header">
                    <h4>@ViewBag.Title</h4>
                </div>

                <div class="panel-body">                    
                    <div>
                        <p>
                            [[[Please check your email to reset your password.]]]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>