@{
    ViewBag.Title = "[[[Reset password confirmation]]]";
}

<div class="main-section">
    <div class="container-fluid">
        <div class=" center-block col-md-6">
            <div class="panel panel-default mrg-t">
                <div class="panel-body bdr-b panel-header">
                    <h4>@ViewBag.Title</h4>
                </div>

                <div class="panel-body">
                    <p>
                        [[[Your password has been reset.]]] @Html.ActionLink("[[[Please click here to log in]]]", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
