<connectionStrings>
  <remove name="DefaultConnection"/>
  <add name="DefaultConnection" connectionString="Data Source=.\SqlExpress;Initial Catalog=market;Integrated Security=False;Persist Security Info=False;User ID=sasql;Password=12345678"
        providerName="System.Data.SqlClient" />
</connectionStrings>
