@model BeYourMarket.Web.Models.TextFileModel

@section Styles {
    <link href="~/js/codemirror/codemirror.css" rel="stylesheet" />
    <link href="~/js/codemirror/ambiance.css" rel="stylesheet" />
    <link href="~/js/codemirror/ambiance-mobile.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "[[[Javascript Code Editor]]]";
}

<div class="wraper container-fluid">
    <form action="@Url.Action("CodeScriptUpdate", "Design")" id="settingsForm" method="post" role="form">
        <div class="row">

            <div class="col-sm-12">
                <div class="panel panel-primary panel-color">
                    <div class="panel-heading">
                        <h3 class="panel-title">[[[Javascript Code Editor]]]</h3>
                        <small>[[[Enter your custom javascript styles below]]]</small>
                    </div>
                    <div class="panel-body code-edit-wrap">
                        <textarea id="Text" name="Text" class="codeEditor" placeholder="[[[Enter your custom javascript code here...]]]">@Model.Text</textarea>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-lg-12">
                        <button id="submitBtn" class="btn btn-primary" type="submit"><i class="fa fa-save"></i> [[[Save]]]</button>
                        <a href="@Url.Action("CodeScript", "Design")" class="btn btn-default"><i class="fa fa-remove"></i> [[[Cancel]]]</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

@section Scripts {
    <script src="~/js/codemirror/codemirror.js"></script>
    <script src="~/js/codemirror/formatting.js"></script>
    <script src="~/js/codemirror/xml.js"></script>
    <script src="~/js/codemirror/javascript.js"></script>

    <script src="~/js/codemirror/custom.codemirror.js"></script>

}

