@using i18n;
@model BeYourMarket.Web.Models.LanguageSelectorModel

@if (Model.LanguageList.Count > 0)
{
    <nav class=" navbar-default hidden-xs" role="navigation">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">@Model.DisplayName <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    @foreach (var item in Model.LanguageList)
                    {
                        <li>
                            <a href="@Url.Action("SetLanguage", "Home", new { langtag = item.Culture, returnUrl = Request.Url.PathAndQuery })">@item.DisplayName</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </nav>
}